navbar {
    background-color: white;
    padding: 25px;
}

navbar .nav-item {
    color: darkred;
    font-size: 24px;

}

navbar wrap {
    padding: 0px 15px
}

.home {
    background-position: center
}

li {
    list-style-type: none
}